---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
{% include head.html %}

<body class="main-page has-push-menu">
    {% include svg-icons.html %}
    {% include header.html %}
    <section class="content">
        {{ content }}
    </section>
    <iframe src="https://www.jijitechnologies.com/footer.aspx" scrolling="no" width=100% height=460px id="footeriframe"
        style="border: none;"> </iframe>

    <script src="{{ '/assets/js/footerresize.js' | prepend: site.baseurl }}"></script>
    <!-- {% include footer.html %} -->
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", function (user) {
                if (!user) {
                    window.netlifyIdentity.on("login", function () {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>

</html>