---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ site.language }}" class="no-js">
{% include head.html %}

<body class="main-page has-push-menu">
    {% include svg-icons.html %}
    {% include header.html %}
    <section class="content">
        {{ content }}
    </section>
    <iframe src="https://www.jijitechnologies.com/footer.aspx" scrolling="no" width=100% height=460px
        style="border: none;"> </iframe>
    <script>

        if (matchMedia) {
            const mq = window.matchMedia("(max-width: 600px)");
            mq.addListener(WidthChange);
            WidthChange(mq);
        }

        // media query change
        function WidthChange(mq) {
            var iframe = document.getElementById("footeriframe")
            if (mq.matches) {
                console.log("Mq", mq)

                var scrollHeight = iframe.scrollHeight;
                var clientHeight = iframe.clientHeight;
                iframe.height = scrollHeight + clientHeight + "px";
            } else {
                iframe.height = 460 + "px";
            }

        }
    </script>
    <!-- {% include footer.html %} -->
    <script>
        if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", function (user) {
                if (!user) {
                    window.netlifyIdentity.on("login", function () {
                        document.location.href = "/admin/";
                    });
                }
            });
        }
    </script>
</body>

</html>